
body {
    color: rgba(119, 186, 224, 0.918);
    background: rgba(2, 41, 148, 0.959);
}header {
    border-bottom: solid 2px rgba(161, 7, 207, 0.76);
    padding: 20px;
    font-size: 32px;
    color: rgba(173, 28, 130, 0.966);
}